/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.sophie {
	display: flex;
	flex-direction: crow;
	justify-content: space-between;
	margin: 50px 0
}

.edition-mode {
	width: 100%;
	height: 100px;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.a-edition {
	cursor: pointer;
	margin-left: 10px;
}

.btn-edition {
	width: 196px;
	height: 37px;
	margin-left: 20px;
	background-color: white;
	border-radius: 60px;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	cursor: pointer;
	padding: 0 10px;
	font-size: 1.2em;
}

nav a {
	text-decoration: none;
	font-family: inherit;
	font-size: 18px;
	color: black;
}

li:hover {
	color: #B1663C;
}

.introduction {
	display: flex;
	align-items: center;
}

.introduction figure {
	flex: 1
}

.introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

.introduction article {
	flex: 1
}

.introduction h2 {
	margin-bottom: 1em;
}

.introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.Filters {
	display: flex;
	justify-content: space-between;

	margin-left: 18%;
	padding-right: 20%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.Filter {

	justify-content: center;
	align-items: center;
	cursor: pointer;
	height: 37px;
	cursor: pointer;
	color: white;
	border: 1px solid #1D6154;
	font-family: 'Syne';
	background-color: #1D6154;
	border-radius: 25px;
	padding-right: 30px;
	padding-left: 30px;

	&:hover {
		background-color: white;
		color: #1D6154;
	}
}

.gallery img {
	width: 100%;
	cursor: pointer;

}

.btn-modal {
	display: flex;
	justify-content: center;
	margin-top: 13px;

}

.modif {

	margin-top: 12px;

}

.modifier {
	margin-top: 10px;
	margin-left: 20px;
	display: none;
}

.a-modifier {
	margin-left: 5px;
	text-decoration: none;
	color: black;
}

#mod {

	display: none;
	width: 100%;
	height: 160%;

	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(77, 77, 77, .7)
}


.seconde-modal {

	display: none;
	margin-bottom: 50%;
	
	flex-wrap: wrap;
	position: relative;
	align-items: center;
	flex-direction: column;
	background-color: white;
	width: 630px;
	height: 670px;
}

.modal_Tiltle {
	margin-top: 10px;
	font-size: 26px;
}

.fa-images {

	display: flex;
	font-size: 58px;
}
.First-modal{display: none;
	margin-bottom: 50%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
	flex-direction: column;
	background-color: white;
	width: 630px;
	height: 670px;}
.modal {
	display: none;
	margin-bottom: 50%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
	flex-direction: column;
	background-color: white;
	width: 630px;
	height: 670px;

}
.fas{
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10px;
	width:17px;
	height:20px;
	position: absolute;
	margin-left: 40px;
	margin-top: 3px;
	color:white;
	background: black;
}

.selected-work{
	border: 1px solid red;
}


.modal_close {
	font-size: 24px;
	text-decoration: none;
	color: black;
	margin-top: 20px;
	text-align: end;
	margin-left: 80%;
	cursor: pointer;
}

.mod-gallery {

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	width: 70%;
	height: 48%;
	margin-top: 20px;


}

.mod-gallery img {

	display: flex;
	margin: 0%;
	width: 58px;
}

.mod-gallery figure {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 12px;

}

.mod-gallery figure figcaption {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 58px;
}

.btn-valider{
	position: absolute;
	margin-top: 93%;
	width: 200px;
	height: 40px;
	background-color: #dcdcdc;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	border-radius: 20px;
}

.input-File-Seconde-Modal {
	position: relative; /* Pour permettre le positionnement du label */
  display: inline-block;
}
.custom-file-input{
	display: inline-block;
  background-color: #bec3be;
  position: absolute;
  margin-top: 15%;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 20px;
}
#fileInput {
	display: none;
  }
.inputs-seconde-modal-choices {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 43%;


}

.Titre-select-categories {
	margin-top: 20px;
}

.input-categories-new-work {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	width: 420px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;

}

.titre-input-titre {
	margin-top: 20px;
}

.input-new-title {
	height: 51px;
	margin-top: 20px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;

}
.image-preview{
	width: 420px;
	height: 169px;position: absolute;
	margin-bottom: 20%;
}
.btn-envoyer {
	
	display: flex;
	justify-content: center;
}
.btn-actif{
	background-color: #1D6154 ;
}
.btn-add-work {

	margin-top: 10px;
	width: 237px;
	height: 36px;
	background-color: rgb(190, 190, 190);
	color: white;
	border: none;
	border-radius: 60px;
	font-size: 20px;
	font-family: 'Syne';
}

.grise-bar {
	position: absolute;
	margin-top: 78%;
	margin-bottom: 23px;
	display: flex;
	width: 420px;
	background-color: #B3B3B3;
	border: 1px solid gray;
}

.upload-photo-container {
	margin-top: 50px;
	background-color: #E8F1F6;
	width: 420px;
	height: 169px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
}

.btns-Modif {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: center;
	position: absolute;
	margin-top: 83%;

}

.btn-add-photo {

	width: 350px;
	height: 36px;
	border: none;
	cursor: pointer;
}

.btn-delete-work {
	color: red;
cursor: pointer;
	text-decoration: none;
}

/*LOGIN*/
.error {
	display: none;
	flex-direction: column-reverse;
	background: rgb(193, 191, 191, 0.80);
	border-radius: 10px;

	padding: 50px;
	margin-top: 20px;
}

.error-message {

	color: red;

	z-index: 1;
	font-size: 30px;

}

.error-close {

	font-size: 20px;
	text-decoration: none;
	color: red;

	margin-bottom: 20px;
	text-align: right;


}

.LogInTitle {
	display: flex;
	justify-content: center;
	font-size: 30px;
}

form {

	display: flex;

	margin-top: 50px;
	flex-direction: column;
	align-items: center;

}

.LoginInput {
	font-weight: bold;
	display: flex;
	width: 379px;
	height: 79px;
	font-size: 14px;
	flex-direction: column;
	justify-content: center;

}

.Logput {
	margin-top: 10px;
	margin-bottom: 15px;
	width: 100%;
	height: 51px;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	border: 0px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.connect {
	border: #1D6154;
	cursor: pointer;
	height: 36px;
	width: 150px;

	&:hover {
		background-color: black;
	}
}


#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	width: 160px;
	height: 36px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;

	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}